<h1>
  Edit your blog
</h1>
<%= render partial: "form", locals:{post: @post} %>
<%= link_to "All blogs", blog_posts_path %>
<%= button_to "delete", blog_post_path(@post), method: :delete , data: { turbo_confirm: "Are you sure?" }%>
